html{
    scroll-behavior: smooth;
}
body{
    margin:5px;
    background-color:rgb(122, 220, 212);
}
div{
    text-align: center;
}
div img{
    width:600px;
}
header{
    background-color:rgb(34, 55, 5);
}
body{
    margin:0
}
a{
    text-decoration: none;
}
header nav a{
    color:rgb(245, 242, 242);
    padding:20px;
    display:inline-block
}
header nav a:hover{
    background-color: black;

}
